<div id="bg-wine" class="bg--full-fixed"></div>
<section class="animated fadeIn" id="wines">
  <a data-pjax class="button--close" href="/">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x faa-pulse"></i>
      <i class="fa fa-home fa-stack-1x fa-inverse faa-pulse"></i>
    </span>
  </a>
  <div class="animated bounceInDown layout layout--center">
    <div class="layout__item mb+ u-11/12-lap u-8/12-desk">
      <div class="section__intro text--center">
        <h1 class="heading--big">Nuestros <span>Vin<i>o</i>s</span></h1>
        <h3 class="subheading--light"><strong>Elaboramos sólo con uvas propias</strong>, de variedades internacionales y propias de la región. </h3>
        <h3 class="subheading--light">Son vinos de personalidad propia que destacan por su mineralidad.</h3>
      </div>
    </div>
  </div>
  <div class="banner animated fadeIn">
    <ul>
      <li class="slide__elem pt+ pb+">
        <div class="layout wine">
          <div class="layout__item u-5/12-lap-and-up wine__info lap-and-up-text--right">
            <div class="wine__title">
              <h2>Quantum crianza 2012</h2>
            </div>
            <div class="wine__description">
              <h3>Merlot, Cabernet Sauvignon, Syrah</h3>
            <hr class="line line--right gray">
            </div>
            <div class="inline u-11/12 wine__details">
              <p>Con toques vivos color rubi y brillates en el la copa. Aromas florales de violeta y con la fuerte connotacion del Merlot. Palar sustancial y refinado con la profundidad del roble.</p>
            </div>
          </div>
        
          <div class="layout__item u-2/12-lap-and-up">
            <div class="wine__image">
              <img src="img/quantum.png" alt="Quantum Blend 2011" />
            </div>
          </div>
        <div class="layout__item u-5/12-lap-and-up tasting-notes lap-and-up-text--left">
          <ul class="no-list-style">
            <li>
              <h4>Colores:</h4>
              <p>Vivo, brillante, toques rubis</p>
              <hr class="line line--left blue">
            </li>
            <li>
              <h4>Aroma:</h4>
              <p>Predomina el merlot. Toques florales violestas.</p>
              <hr class="line line--left yellow">
            </li>
            <li>
              <h4>Boca:</h4>
              <p>Paso en boca facil, tanino no agresivo.</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="slide__elem pt+ pb+">
        <div class="layout wine">
          <div class="layout__item u-5/12-lap-and-up wine__info lap-and-up-text--right">
            <div class="wine__title">
              <h2>Finca el molar 2013</h2>
            </div>
            <div class="wine__description">
              <h3>Merlot, Cabernet Sauvignon, Syrah</h3>
            <hr class="line line--right gray">
            </div>
<div class="inline u-11/12 wine__details">
          <p>Con toques vivos color rubi y brillates en el la copa. Aromas florales de violeta y con la fuerte connotacion del Merlot. Palar sustancial y refinado con la profundidad del roble.</p>
            </div>

          </div>
        
          <div class="layout__item u-2/12-lap-and-up">
            <div class="wine__image">
              <img src="img/elmolar.png" alt="Quantum Blend 2011" />
            </div>
          </div>
        <div class="layout__item u-5/12-lap-and-up tasting-notes lap-and-up-text--left">
          <ul class="no-list-style">
            <li>
              <h4>Colores:</h4>
              <p>Vivo, brillante, toques rubis</p>
              <hr class="line line--left blue">
            </li>
            <li>
              <h4>Aroma:</h4>
              <p>Predomina el merlot. Toques florales violestas.</p>
              <hr class="line line--left yellow">
            </li>
            <li>
              <h4>Boca:</h4>
              <p>Paso en boca facil, tanino no agresivo.</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="slide__elem pt+ pb+">
        <div class="layout wine">
          <div class="layout__item u-5/12-lap-and-up wine__info lap-and-up-text--right">
            <div class="wine__title">
              <h2>Quantum vino de hielo</h2>
            </div>
            <div class="wine__description">
              <h3>Cabernet Sauvignon</h3>
            <hr class="line line--right gray">
            </div>
            <div class="inline u-11/12 wine__details">
              <p>Con toques vivos color rubi y brillates en el la copa. Aromas florales de violeta y con la fuerte connotacion del Merlot. Palar sustancial y refinado con la profundidad del roble.</p>
            </div>


          </div>
        
          <div class="layout__item u-2/12-lap-and-up">
            <div class="wine__image">
              <img src="img/hielo.png" alt="Quantum vino de hielo" />
            </div>
          </div>
        <div class="layout__item u-5/12-lap-and-up tasting-notes lap-and-up-text--left">
          <ul class="no-list-style">
            <li>
              <h4>Colores:</h4>
              <p>Vivo, brillante, toques rubis</p>
              <hr class="line line--left blue">
            </li>
            <li>
              <h4>Aroma:</h4>
              <p>Predomina el merlot. Toques florales violestas.</p>
              <hr class="line line--left yellow">
            </li>
            <li>
              <h4>Boca:</h4>
              <p>Paso en boca facil, tanino no agresivo.</p>
            </li>
          </ul>
        </div>
      </li>


    </ul>
  <a href="#" id="arrow-left" class="unslider-arrow prev">
    <i class="fa fa-arrow-left fa-5x"></i>
  </a>
  <a href="#" id="arrow-right" class="unslider-arrow next">
    <i class="fa fa-arrow-right fa-5x"></i>
  </a>

  </div>
</section>
<script type="text/javascript" charset="utf-8">
  $(function(){
    var unslider = $('.banner').unslider({
      fluid: true
    });
    $('.unslider-arrow').click(function(e) {
      e.preventDefault();
      var fn = this.className.split(' ')[1];
      unslider.data('unslider')[fn]();
    });
  });
</script>
