@import "inuit-css";
@import "../components/modular-scale/stylesheets/_modular-scale.scss";

/* COLOR SCHEME */
$white: #FEFEFE;
$gray: #DDDAD6;
$gray--dark: #666666;
$black: #1E1E1E;
$yellow: #F9F1B5;
$blue: #A6D8DE;
$vivid-blue: #00b7ff;
$brown: #AE9C96;


/* TYPOGRAPHY */
$ms-base: 1em;
$ms-ratio: $golden;

/* COLOR SCHEME BAR */
#scheme-bar {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0;
  div {
    height:7px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
  display: none;
}

.font--light {
  font-weight: 300;
}

.text--center {
  text-align: center !important;
}

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

address, #lang-bar {
  font-style: normal;
  text-transform: lowercase ;
  font-weight: 300;
  & a {
    color: #346EB4;
    position: relative;
  transition: color 250ms ease;
  }
  & a:hover {
   color: #6B9FDB;
  }
}
address a:after {
  position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #6B9FDB;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
address a:hover:after {
  opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.section__subheading {
  font-family: 'Cinzel Decorative', serif !important;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
    color: #FEFEFE;
    margin-bottom: 0;

  }

#icon--load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/img/load.gif') center no-repeat #fff;
  background-size: 5em;
}

.blue {
  background-color: $blue;
}

.brown {
  background-color: $brown;
}
.yellow {
  background-color: $yellow;
}
.gray {
  background-color: $gray;
}
.green {
  background-color: #869F07;
}

html {
  height: 100%;
  width: 100%;
  background-color: transparent;
  //background: rgb(51,51,51);
}

body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $white;
  height: 100%;
  font-size: 100%;
}

h1 {
  font-weight: 400 !important;
  font-size: ms(3);
}


.subheading {
  font-size: ms(1);
  //color: $yellow;
  font-weight: 300;
  text-transform: uppercase;
  //font-style: italic;

}
#data-container {
  //padding: 10px;
  width: 100%;
  height: 100%;
}

.img--responsive {
  max-width: 100%;
}

.inline {
  display: inline-block;
}

.img--circle {
  border-radius: 50%;
}
.menu-container {
  padding: 12px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #FBFBFB;
  z-index: 0;
  //background-image: url('/img/noise2.png');
}

.container {
  padding: 12px;
  width: 100%;
  height: 100%;
}


nav {
  height: 100%;
  z-index: 1;
  width: 100%;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}
.layout {
  font-size: 0;
}

.layout__item {
  font-size: 1rem;
}

nav li {
  height: 10rem;
}

.middle {
  vertical-align: middle;
}

.vertical--middle {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical--middle > *{
  display: table-cell;
  vertical-align: middle;

}

.grey {
  background-color: #CCC;
}

.menu__item {
  height: 100%;
  //border: 4px solid $black;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, .5);
    transform: scale(1.02);
    z-index: 9999;
    .menu__text {
      background-color: rgba(0, 0, 0, .8);
    //background-color: rgba(142, 165, 41, .9);
    }
  }
}
.menu__text {
  font-family: 'Cinzel Decorative', serif !important;
  background-color: rgba(0, 0, 0, .6);
  display: inline-block;
  padding: .5em;
  font-size: 2em;
  font-weight: 300;
  //text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
  color: $white;
  text-transform: lowercase;
  letter-spacing: 1px;
  transition: 0.5s ease;
 }


.red{
    background:#7F183F;
}

.blue{
    background:#4682B4;
}

.green{
    background-color: #2E8B57;
}

a {
  color: #346EB4;
}

.selected {
  background-color: #483D8B;
}

section {
  position: relative;
  min-height: 100%;
  width: 100%;
  text-align: center;
}


.button--close {
  color: $white;
  z-index: 9999;
  font-size: ms(1);
  i {
    font-size: 1em;
    padding-top: .5em;
  }
  //border-radius: 50%;
  vertical-align: top;
  overflow: hidden;
  position: fixed;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);
}

.button--close::before,
.button--close::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #346EB4;
  content: "";
  -webkit-transition: left 0.3s;
          transition: left 0.3s;
}

.button--close i {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #4A8AD3;
  -webkit-transition: left 0.3s;
            transition: left 0.3s;
}

.button--close::after {
  left: -100%;
  padding-top: .9em;
  font-weight: 300;
  font-size: .6em;
  content: 'menu';
  text-transform: uppercase;
}

.button--close:hover {
  & i {
    left: 100%;
  }
}

.button--close:hover::after {
  left: 0;
}

/*.button--close {
    background-color: #346EB4;
    color: $white;
    display: inline-block;
    z-index: 9999;
    font-size: ms(1);
    position: fixed;
    top: 0;
    right: 0;
    i {
      font-size: 1em;
      padding-top: .5em;
    }
    height: 2em;
    width: 2em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
    &:after {
      position: absolute;
      top: .2em;
      transition: 0.3s ease;
    }
    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
      border-radius: 0px;
      width: 6em;
      & i {
        font-size: 0;
      }
      &:after {
        content: 'menu';
        transform: translateX(-1.5em);
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
      }
    }
}*/


.tagline {
  color: $gray--dark;
  font-size: ms(0);
  margin-top: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*** CONTACT ***/
.contact h2 {
  font-size: ms(1);
  font-family: 'Cinzel Decorative', serif;
  color: $gray--dark;
  font-weight: 300;
  display: none;

}
.social {
  i.facebook {
    color: #38559E;
  }
  i.twitter {
    color: #019FE9;
  }
  i.instagram {
    color: #517FA6;
  }
  i.marker {
    color: #A3BD31;
  }
  .fa {
    color: $white;
  }
  .layout__item {
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.4);
    }
  }
}


h3 {
  //color: $yellow;
  font-size: ms(1);
}

.line {
  width: 80%;
  height: 1px;
  line-height: 0;
  border: 0 none;
}
.line--thick {
  width: 100%;
  height: 4px;
}

#logo {
  font-family: 'Cinzel Decorative', serif;
  color: #262223;
  font-weight: normal;
  h1 {
    margin-bottom: 0;
    font-size: 2em;
  }
}

.logo-img {
  width: 100%;
  color: #515151;
}

/* HOVER EFFECTS */
/* Sweep To Right */
.hvr-sweep-to-right {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: $white;
  h2.menu__text {
    background-color: transparent;
  }
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* WINES */

#wines {
  position: relative;
  color: $white;
}
.section__intro h1 {
  font-weight: 400;
}

.bg--full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;

}
#bg-wine {
  background: url(/img/bg-wine.jpg) no-repeat center bottom;
  background-color: #1e1e1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#bg-quantum-detail {
  background: url(/img/tag-quantum.jpg) no-repeat 65% center;
}
#bg-finca-detail {
  background: url(/img/tag-finca.jpg) no-repeat 55% top;
}
#bg-hielo-detail {
  background: url(/img/tag-hielo.jpg) no-repeat 65% top;

}
#bg-quantum-detail, #bg-finca-detail, #bg-hielo-detail {
  background-color: #1e1e1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-wine-detail:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #010101;
  opacity: .7;
}

.wine__image img {
  height: 25em;
}

.wine__title {
  font-family: 'Cinzel Decorative', serif !important;
  text-transform: lowercase;
  padding-top: ms(6);
  h2 {
    font-size: ms(1);
    font-weight: 300;
    margin-bottom: 0;
  }
}
.wine__description h3 {
  font-family: 'Cinzel Decorative', serif !important;
  text-transform: lowercase;
  font-style: normal;
  font-size: ms(0);
  font-weight: 300;
  margin-top: 0;
  color: $gray--dark;
}
.wine__info {
  p {
    margin-bottom: 0;
  }
  font-size: ms(0);
  font-weight: 300;
}


.wines__list li {
  text-align: left;
  min-height: 30em;
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, .4);
}

#quantum, #quantum-detail {
  background: url('/img/quantum.png') no-repeat 50% 3%;
  background-color: rgba(0, 0, 0, .8);
  background-size: auto 18em;
  transition: 1s ease;
  &:hover {
    //background-size: auto 19em;
  }
}
#finca, #finca-detail {
  background: url('/img/elmolar2.png') no-repeat 50% 3%;
  background-color: rgba(0, 0, 0, .8);
  background-size: auto 18em;
  transition: 1s ease;
  &:hover {
    //background-size: 7%;
  }
}
#hielo, #hielo-detail {
  background: url('/img/hielo.png') no-repeat 50% 3%;
  background-color: rgba(0, 0, 0, .8);
  background-size: auto 18em;
  transition: 1s ease;
  &:hover {
    //background-size: 5%;
  }
}

/* WINE DETAIL */
#wine-detail {
  color: $white;
  .wine__info {
    table {
      //border-top: 1px solid $brown;
      width: 100%;
    }
    tr {
      td:first-child {
        font-family: 'Cinzel Decorative', serif !important;

      }
      //border-bottom: 1px solid $brown;

    }
    td {
        padding: 1em;
        text-transform: uppercase;
        color: $gray;
        font-size: 1rem;
        font-weight: 300;
      }

     td span {
      text-transform: lowercase ;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  .wine__detail {
    min-height: 100%;
  #quantum-detail, #finca-detail, #hielo-detail {
    background-color: inherit;
    background-size: auto 18em;
    background-position: 50% 0.5%;
  }
  }
  #finca, #hielo, #quantum {
    background-size: auto 18em;
    &:hover {
    }
  }
  .wine__title {
  }
}

/* Slider CSS
.banner {
  position: relative;
  overflow: auto;
  width: 100% !important;
  background-color: rgba(0, 0, 0, .7);
}
.banner li {
  list-style: none;
}
.banner .slide__elem {
  float: left;
}
.banner ul {
  margin: 0;
  padding: 0;
}
.unslider-arrow {
  color: rgba(255, 255, 255, 0.3);
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
#arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
}
#arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
}
*/

/*** TOURISM ***/
#tourism {
  color: $white;
}

#tourism .heading--big i{
  color: #009BD3;
}

#bg-tourism {
  background: url(/img/bg-tourism.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.gallery .layout__item {
  padding-left: 0;
  line-height: 1;
}

.heading--big {
  font-family: 'Cinzel Decorative', serif !important;
  text-transform: lowercase;
  font-size: ms(1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66);
  span {
    i {
      font-style: normal;
      color: #99324D;
    }
    font-size: ms(1);
    letter-spacing: 2px;
  }
}

/*** ECOLOGICAL ***/

#bg-ecological {
  background: url(/img/bg-ecological--large.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}


h4.big {
  font-size: ms(0);
  font-weight: 300;
}

.subheading--light {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: ms(0);
  font-style: normal;
  color: $gray;
  strong {
    font-weight: 400;
  }
}

#ecological .heading--big {
  font-size: ms(1);
  span {
    font-size: 1.8em;
  }
  i {
    color: #A3BD31;
  }
}

/*** WINERY ***/
#bg-winery {
  background: url(/img/bg-winery.jpg) no-repeat center center;
  background-color: $black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

#winery .heading--big {
  i{
    color: #9BB336;
  }
  b {
    font-weight: 400;
    color: #C66433;
  }
}


#winery {
  p {
    font-size: ms(0);
  }
  strong {
    font-weight: 400;
  }
  .img--responsive {
    max-height: 15em;
  }
  .fa-arrow-circle-o-down {
    color: $white;
  }
}

figure.cap-bot {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.cap-bot figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  //padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
figure.cap-bot:hover figcaption {
  opacity: 1;
}
figure.cap-bot:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure.cap-bot:hover:before {
  opacity: 0;
}
.cap-bot:before {
  bottom: 2em;
  left: 2em;
}
.cap-bot figcaption {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.cap-bot:hover figcaption {
  bottom: 0;
}
.cap-bot h2 {
  padding-top: 25%;
}
#about .cap-bot h2 {
  padding-top: 39%;
}

figcaption h2 {
  font-weight: 300;
  text-transform: uppercase;
}

.btn {
  padding: 2rem;
  font-size: ms(0);
  line-height: 1;
  border: 0 none;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.5s ease;
  //cursor: default;
}
.btn--small {
  padding: 1rem;
}
.btn--default {
  background-color: $vivid-blue;
  &:hover {
    background-color: darken($vivid-blue, 20%);
  }
}
.btn--green {
  background-color: #2E8B57;
  &:hover {
    background-color: lighten(#2E8B57, 10%);
  }
}
.btn--light {
  font-size: ms(0);
  padding: 1em;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid $white;
  &:hover {
    color: $black;
    background-color: $white;;
  }

}
blockquote {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  cite {
    font-size: .8em;
    font-weight: 300;
    font-style: normal;
    display: block;
    text-align: right;
    &:before {
      content: "— ";
    }
  }
}


/*** ABOUT ***/
#about {
  h3 {
    font-size: ms(1);
  }
  .heading--big i {
    color: #346EB4;
  }
  .quote {

  }
}

.about__img {
  img {
    border-radius: 50%;
    width: 8em;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .5);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 45em) {
  .wines-link__bg {
    background: url('/img/wines--small.jpg') no-repeat center center;
  }
  .ecological-link__bg {
    background: url('/img/organic--small.jpg') no-repeat center center;
  }
  .winery-link__bg {
    background: url('/img/wineyards--small.jpg') no-repeat center center;
  }
  .tourism-link__bg {
    background: url('/img/tourism--small.jpg') no-repeat center center;
  }
  .about-link__bg {
    background: url('/img/about--small.jpg') no-repeat center center;
  }
  #bg-tourism {
    background: url(/img/bg-tourism--small.jpg) no-repeat center 99%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #bg-ecological {
    background: url(/img/bg-ecological--small.jpg) no-repeat 30% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }
}
@media screen and (min-width: 45em) {
  html {
    font-size: 110%;
  }
  .button--close {
    i {
      font-size: 1.6em;
      padding-top: .35em;
    }
    height: 3em;
    width: 3em;
    &:after {
      font-size: .9em;
      padding-top: .8em;
    }
  }
  .wines-link__bg {
    background: url('/img/wines--medium.jpg') no-repeat center center;
  }
.ecological-link__bg {
    background: url('/img/organic--medium.jpg') no-repeat center center;
  }
  .winery-link__bg {
    background: url('/img/wineyards--medium.jpg') no-repeat center center;
  }
  .tourism-link__bg {
    background: url('/img/tourism--medium.jpg') no-repeat center center;
  }
  .about-link__bg {
    background: url('/img/about--medium.jpg') no-repeat center center;
  }

  #bg-tourism {
    background: url(/img/bg-tourism--medium.jpg) no-repeat center 99%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #bg-ecological {
    background: url(/img/bg-ecological--medium.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }

  .cap-bot h2 {
    padding-top: 19%;
  }
  #about .cap-bot h2 {
    padding-top: 29%;
  }
  .subheading {
    font-size: ms(2);
  }
  .subheading--light {
    font-size: ms(1);
  }
   #ecological .heading--big {
     font-size: ms(2);
   }
  .menu-container {
    padding: 12px 12px 12px 0;
  }
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    z-index: 999;
    h1 {
      font-size: 1.5em;
    }
  }

  .wine--image img {
    height: 40em;
  }

  .line--left {
    margin-left: 0;
  }

  .line--right {
    margin-right: 0;
  }

  #contact {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    z-index: 999;
  }
  .contact span {
    font-size: ms(1);
  }

  #wines-link {
    position: absolute;
    top: 0;
    left: 33.33%;
    height: 50%;
  }

  #winery-link {
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
  }

  #ecological-link {
    position: absolute;
    top: 50%;
    left: 33.33%;
    height: 25%;
  }

  #tourism-link {
    position: absolute;
    top: 75%;
    left: 33.33%;
    height: 25%;
  }

  #about-link {
    position: absolute;
    top: 50%;
    left: 75%;
    height: 50%;
  }
  .thumb__img:hover, .thumb__img:focus {
  position: relative;
  z-index: 5;
  }
}

@media screen and (min-width: 64em) {
  html {
    //font-size: 120%;
  }
  .contact h2 {
    display: block;
  }
 #logo h1 {
    font-size: 2em;
  }
  .menu__item:hover {
    .menu__text {
      padding: 1em;
    }
  }
  .contact a {
    font-size: ms(1);
  }
  #quantum, #finca, #hielo {
    background-position: 80% center;
    background-size: auto 28em;
    transition: .8s ease;
    &:hover {
      background-size: auto 39em;
    }
  }
  .wine__title {
      padding-top: 0;
    }

  .wine__image img {
    height: 35em;
  }
  #wine-detail {
    height: 100%;
    .wine__detail {
      #quantum-detail, #finca-detail, #hielo-detail {
        height: 100%;
        background-size: auto 39em;
        background-position: 85% center;
        background-attachment: fixed;
        z-index: 9999;
      }
    }
    .wine__info td {
      font-size: ms(0);
    }
  }
  .about__img img  {
    width: 10em;
  }
  blockquote {
    font-size: 2.5rem;
  }
  #bg-tourism {
    background: url(/img/bg-tourism--large.jpg) no-repeat center 99%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #bg-ecological {
    background: url(/img/bg-ecological--large.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }
}

@media screen and (min-width: 92em) {
  html {
    //font-size: 115%;
  }
  #logo h1 {
    font-size: ms(2);
  }
  #about h3 {
    font-size: ms(2);
  }
  .wines-link__bg {
    background: url('/img/wines--large.jpg') no-repeat center center;

  }
  .ecological-link__bg {
    background: url('/img/organic--large.jpg') no-repeat center center;
  }
  .winery-link__bg {
    background: url('/img/wineyards--large.jpg') no-repeat center center;
  }
  .tourism-link__bg {
    background: url('/img/tourism--large.jpg') no-repeat center center;

  }
  .about-link__bg {
    background: url('/img/about--large.jpg') no-repeat center center;
  }

  #bg-tourism {
    background: url(/img/bg-tourism--xlarge.jpg) no-repeat center 99%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #bg-ecological {
    background: url(/img/bg-ecological--xlarge.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }

  .cap-bot h2 {
    padding-top: 28%;
  }
  #about .cap-bot h2 {
    padding-top: 43%;
  }
   #ecological .heading--big {
     span {
       font-size: ms(2);
     }
   }
  .heading--big span {
    font-size: ms(2);
  }
  .heading--big {
    font-size: ms(2);
  }
  .wine__title {
    padding-top: 0;
    h2 {
      font-size: ms(2);
      font-weight: 300;
      margin-bottom: 0;
    }
  }
  .wine__description h3{
    font-size: ms(1);
    font-weight: 300;
    color: $gray--dark;
  }
  .wine__info {
    p {
      margin-bottom: 0;
    }
    font-size: ms(1);
    font-weight: 300;
  }
  h4.big {
    font-size: ms(1);
    font-weight: 300;
  }
  #winery, #about {
    p {
      font-size: ms(1);
    }
  }

}

@media screen and (min-width: 121em) {
  html {
    font-size: 130%;
  }
  body {
    font-weight: 300;
  }
  .wines-link__bg {
    background: url('/img/wines--xlarge.jpg') no-repeat center center;
  }
  .ecological-link__bg {
    background: url('/img/organic--xlarge.jpg') no-repeat center center;
  }
  .winery-link__bg {
    background: url('/img/wineyards--xlarge.jpg') no-repeat center center;
  }
  .tourism-link__bg {
    background: url('/img/tourism--xlarge.jpg') no-repeat center center;
  }
  .about-link__bg {
    background: url('/img/about--xlarge.jpg') no-repeat center center;
  }
}
@media(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .wines-link__bg {
    background: url('/img/wines--large.jpg') no-repeat center center;

  }
  .ecological-link__bg {
    background: url('/img/organic--large.jpg') no-repeat center center;
  }
  .winery-link__bg {
    background: url('/img/wineyards--large.jpg') no-repeat center center;
  }
  .tourism-link__bg {
    background: url('/img/tourism--large.jpg') no-repeat center center;
  }
  .about-link__bg {
    background: url('/img/about--large.jpg') no-repeat center center;
  }
  #bg-tourism {
    background: url(/img/bg-tourism--large.jpg) no-repeat center 99%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #bg-ecological {
    background: url(/img/bg-ecological--large.jpg) no-repeat 30% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }

}
/*********************************/
